<!DOCTYPE html>
<html>
  <head>
    <title>LineTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devicewidth, initialscale=1.0, maximumscale=1.0,minimumscale=1.0">
  </head>

  <body>
  <body class="container">
    <% if notice.present? %>
    <aside class="alert alert-info">
     <%= notice %>
     </aside>
    <% end %>
    <% if alert.present? %>
    <aside class="alert alert-danger">
     <%= alert %>
     </aside>
    <% end %>
    <%= image_tag "udon.png", style: "vertical-align: bottom; margin: 10px; width: 100px;"%>
    <%= yield %>
  </body>
  </body>
</html>
